*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: url('/images/neflix_firstSection_bg.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    height:60rem;
    background-color: black;
    position: relative;
}

header .container .main-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    /* background-image: linear-gradient() rgba(0, 0, 0, 0.705); */
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0);
    width: 60%;
    gap: 5rem;
    border: none;
    position: inherit;
}
.imp{
    background-color: transparent;
}

header .container .main-head button{
    background-color: #C11119;
    color: rgb(255, 255, 255);
    padding: .8rem .8rem;
    border-radius: .8rem;
}

header .container .text-head{
    /* border: medium solid green; */
    width: 40%;
    margin-inline: auto;
    align-items: center;
    padding: 2rem 3rem 2rem 3rem;
    margin-top: 18rem;
    position: relative;
}

header .container .text-head .title1{
    color: white;
    align-items: center;
    margin-bottom: 2rem;
    font-size: 50px;   
    position: inherit;
}

header .container .text-head .title2{
    color: white;
    margin-bottom: 2rem;
    position: inherit;
    /* margin-left: 13rem; */
}
header .container .text-head .hfour{
    color: white;
    margin-bottom: 1.5rem;
    position: inherit;
    align-items: center;
}

header .container .text-head input{
    width: 100%;
    padding: 18px 0;
}

header .container .text-head button{
    padding: 1rem;
    background-color: #C11119;
    margin-top: 3rem;
    position: inherit;
    border-radius: .5rem;

}
header .container .text-head button a{
    color: white;
    text-decoration: none;
    position: inherit;
}

.sec2{
    background-color: rgb(0, 0, 0);
    width: 100%;
    margin-inline: auto;
    position: absolute;
    align-content: center;
}

.sec2 .d1{
    color: white;
    position: inherit;
}

.d2h3{
    color: white;
    margin-top: 2rem;
    border: thin solid rgba(128, 128, 128, 0.842);
}
.d3h3{
    color: white;
    margin-top: 2rem;
    border: thin solid rgba(128, 128, 128, 0.842);
}
.d2{
    display: flex;
    justify-content: left;
    gap: 2rem
}

.imgd img{
    margin-top: 3rem;
}

